* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.country {
  width: 300px;
  height: 300px;
  padding: 5px 5px 65px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  text-align: center;
}

.country-header a {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.country img {
  width: 80%;
  height: 70%;
}

@media only screen and (max-width: 640px) {
  body {
    color: #fff;
  }

  .container {
    margin: auto;
    min-width: 320px;
  }

  .country {
    width: 47%;
    height: 150px;
    border-radius: 0;
    border: none;
    text-align: center;
    background: #fa4f91;
    box-shadow: none;
  }

  .country:nth-child(4n),
  .country:nth-child(4n + 1) {
    background-color: #d2457a;
  }

  .country-header a {
    height: 40px;
    font-size: 16px;
    color: #fff;
  }

  .country img {
    width: 130px;
    height: 80px;
  }
}

.country-population {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 12px;
  color: #fff;
}
